body {
    max-width: 500px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.discord-click {
    width: 40px;
    padding: 0 8px;
}
.E-Mail {
    width: 40px;
    padding: 0 8px; 
}
.Github {
    width: 40px;
    padding: 0 8px; 
}
h1{
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
}
